<p>{{ olympics$ }}</p>
<h2 style="text-align:center"></h2>
<div>
<div><h3>Number of entries</h3> </div>
<div><h3>Total number medals</h3> </div>
<div><h3>Total number of athletes</h3> </div>
</div>
<div class="chart-container" style="display: block">
    <canvas baseChart
            [data]="pieChartData"
            [colors]="pieChartColor"
            [labels]="pieChartLabels"
            [chartType]="'line'"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>