
<div class="all-div">
        <div id="cadre" class="title">
                <h2 >Medals per Country</h2>
        </div>
        <div class="flex-div">
                <div id="cadre">
                        Number of JOs <h3>{{numberJo}}</h3>
                </div> 
                <div id="cadre">
                        Number of Country <h3>{{numberCountry}}</h3>
                </div>
        </div>
        <div>
                <canvas baseChart 
                [data]="pieChartData"
                [colors]="pieChartColor" 
                [labels]="pieChartLabels"
                [chartType]="pieChartType" 
                [options]="pieChartOption"
                (chartClick)="chartClicked($event)"
                ></canvas>
        </div>
       
</div>