
 <div class="all-div">
        <div id="cadre" class="title">
                <h2 >Medals per Country</h2>
        </div>
        <div class="flex-div">
                <div id="cadre">
                        <h3 >Number of JOs</h3> {{numberJo}}
                </div>
                <div id="cadre">
                        <h3 >Number of Country</h3> {{numberCountry}}
                </div>
        </div>
        <div>
                <canvas baseChart 
                [data]="pieChartData"
                [colors]="pieChartColor" 
                [labels]="pieChartLabels"
                [chartType]="pieChartType" 
                (chartClick)="chartClicked($event)"
                ></canvas>
        </div>
</div>